* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/bg-image.png");
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-container {
  height: 40vh;
  width: 80vh;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 1s;
}

.btn-container-night {
  height: 40vh;
  width: 80vh;
  background-color: rgba(22, 33, 107, 0.6);
  border: 1px solid rgba(102, 98, 98, 0.4);
  border-radius: 50px;
  transition: 1s;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vh;
  margin-inline: 5vh;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  transition: 1s;
}

.icon-container-night {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vh;
  margin-inline: 5vh;
  background-color: rgba(22, 33, 107, 0.7);
  border-radius: 50px;
  transform: translate(130%);
  transition: 1s;
}

.icon-img {
  height: 25vh;
  width: 25vh;
}
